<h1>All books by <%= @author.first_name %> <%= @author.last_name %></h1>


<%= link_to "Back to author", author_path(@author) %>
&nbsp;|&nbsp;
<%= link_to "Add book", new_author_book_path %>

<table>
    <tr>
        <th>Title </th>
        <th>Genre</th>
        <th>Published</th>
    </tr>

    <% @books.each do |book| %>
        <tr>
            <td><%= book.title %></td>
            <td><%= book.genre %></td>
            <td><%= book.published %></td>
            
            <td>Edit book </td>
        </tr>
    <% end %>

</table>